# Smart Wall Paint Visualizer - Angular Frontend Environment Template

# API Server Endpoint URL
NG_APP_API_URL=http://localhost:5000/api

# WebSocket Endpoint URL
NG_APP_SOCKET_URL=http://localhost:5000

# Application Environment Mode (development | production)
NG_APP_ENV=production
